/* Fontes */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:wght@600&display=swap');

/* Cores */
$branco: #fff;
$paleCyan: #ebfbff;
$darkCyan: #00252e;
$pink: #ff52bf;

/*Elementos padrão*/
@mixin btn ($corFundo, $corTexto, $corBorda){
    color: $corTexto;
    background-color: $corFundo;
    border: 1px solid $corBorda;
    padding: 15px 65px;
    text-decoration: none;
    font-weight: 700;
    font-size: 0.8125em;
    display: inline-block;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    text-transform: capitalize;
}

$espaco-mb: 40px;


/* Elementos */
body{
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}


header{
    background: url('../imagens/bg-hero-desktop.svg') no-repeat $paleCyan;
    background-size: cover;
    .topo{
        img{
            height: 30px;
            width: auto;
        }
        nav{
            a{
                @include btn($branco, $darkCyan, $branco)
            }
        }
    }
    .hero{
        padding-top: 70px;
        .txt-hero{
            margin-right: 80px;
            h2{
                font-size: 1.94em;
                line-height: 1.5em;
                margin-bottom: $espaco-mb;
            }
            p{
                margin-bottom: $espaco-mb;
            }
            a{
                @include btn($pink, $branco, $pink)
            }
        }
        img{
            height: 480px;
        }        
    }
}

main{
    article{
        margin-bottom: $espaco-mb;
        .texto-boxs{
            h3{
                font-size: 1.25em;
                margin-bottom: 30px;
            }            
        }
        img{
            width: auto;
            height: 300px;
        }
    }
    .cta-footer{
        h4{
            font-size: 1.25em;
            margin-bottom: 30px; 
        }
        a{
            @include btn($pink, $branco, $pink)
        }
    }
}

footer{
    background-color: $darkCyan;
    .conteudo-footer{
        display: grid;
        grid-template-columns: 2fr 2fr 1fr;
        .dados{
            img{
                width: auto;
                height: 30px;
                filter: brightness(0) invert(1); /* Transforma elementos em branco */
                margin-bottom: $espaco-mb;
            }
            ul{
                li{
                    margin-bottom: $espaco-mb - 20px;
                    display: flex;
                    align-items: start;
                    &.endereco{
                        &::before{
                            content: '';
                            background-image: url('../imagens/icon-location.svg');
                            background-repeat: no-repeat;
                            background-size: auto;
                            width: 80px;
                            height: 25px;
                            display: inline-block;
                            margin-right: 10px;
                        }
                    }
                    &.telefone{
                        &::before{
                            content: '';
                            background-image: url('../imagens/icon-phone.svg');
                            background-repeat: no-repeat;
                            background-size: auto;
                            width: 25px;
                            height: 25px;
                            display: inline-block;
                            margin-right: 10px;
                        }
                    }
                    &.e-mail{
                        &::before{
                            content: '';
                            background-image: url('../imagens/icon-email.svg');
                            background-repeat: no-repeat;
                            background-size: auto;
                            width: 25px;
                            height: 25px;
                            display: inline-block;
                            margin-right: 10px;
                        }
                    }
                }
            }
        }
        .menu-dados{
            display: flex;
            justify-content: center;
            nav{
                ul{
                    display: grid;
                    grid-template-columns: 1fr 1fr; /* Divide em duas colunas iguais */
                }
            }
        }
    }
}